.bg_container {
  width: 100vw;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* .far_bg {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: black;
  position: absolute;
  margin: 0;
} */

.far_bg {

display: inline-block;
  background: url(../../../images/bg.png);
  background-size: 130%;
  background-color: white;
  background-position: left;
background-repeat: no-repeat;
width: 100%;


}
/*
.far_bg img {
  height: 110vh;
  width: auto;
  display: block;
  margin: 0;
  margin-left: -20rem;
  margin-top: -4rem;
}

.for_bg {
  position: absolute;
  z-index: 2;
  overflow: hidden;
  width: 120vw;
}

.for_bg img {
  height: 110vh;
  width: auto;
  display: block;
  margin: 0;
  margin-left: -10rem;
  margin-top: -4rem;
}

.logo {
  display: block;
  position: absolute;
  z-index: 3;
  top:10rem;
  margin-left: -2rem;
} */

 p {
   display: block;
   margin-top: 7rem;
   font-size: 18rem;
   color: white;
   margin-left: -3rem;
     mix-blend-mode: difference;
}
