.main_container {
  height: 90vh;
  width: 200vw;
  display: flex;
  overflow: scroll;
}

.bg_container {
  width: 100vw;
  display: flex;
  height: 90vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.far_bg {
  display: inline-block;
  background: url(../../../images/bg_wht.png);
  background-size: 120%;
  background-color: #d0d0d0;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  padding: 0;
  filter:brightness(90%);

}

.far_bg_cris {
  display: inline-block;
  background: url(../../../images/bg_s.png);
  background-size: 107%;
  background-color: rgb(29,29,29);
  background-position: left top;
  background-repeat: no-repeat;
  width:  100%;
  margin: 0;
  padding: 0;
  filter:contrast(110%) brightness(90%);
  /* opacity: .96; */
}

.cris_p {
 display: block;
 margin-top: 7rem;
 font-size: 13rem;
 color: white;
 float: right;
 /* margin-left: 39rem; */
 /* mix-blend-mode: difference; */
opacity: .2;
}

.grant_p {
  display: block;
  margin-top: 7rem;
  font-size: 13rem;
  color: rgb(29,29,29);
  float: left;
  opacity: .2;
  /* mix-blend-mode: difference; */
}

.bn{
  position: absolute;
  top: 0;
  left: 90%;
  /* margin-left: -16px; */
  float: right;
  display: block;
  width: 5rem;
  height: 100vh;
  border: 20px solid transparent;
  background-color: transparent;
  background-size: 14px auto;
  z-index: 4;
  transform: scale(1);
}

.bn::before {
  position: absolute;
  top: calc(50% + 3rem);
  left: calc(50% - 90px);
  transform: rotate(-135deg);
  display: block;
  width: 4rem;
  height: 4rem;
  content: "";
  border: 2px solid transparent;
  border-width: 0px 0 8px 8px;

}

.bn:hover::before {
  content: "art";
  font-size: 2.5rem;
  color: white;
  border: 2px solid #fff;
  border-width: 0px 0 8px 8px;
  opacity: .9;
}

.overlay {

  position: absolute;
  background-color: rgb(0,0,0, .2);
  z-index: 3;
  width: 100vw;
  height: 90vh;
}

.text_box {
  position: absolute;
  width: 16rem;
  height: 5rem;
  background-color: #fff;
  top:20rem;
  right: 0rem;
  font-size:5.5rem;
  font-weight: bold;
  color: rgb(29,29,29);
  float: right;
  mix-blend-mode: difference;
  padding-left: 1rem;
  opacity: .3;
}
