.canvas {
  width: 80%;
  height: 30rem;
  border: 2px solid black;
  float: left;
  cursor: crosshair;
}

.head {
  font-size: 3rem;
}

.line_path {
  width: 100%;
  height: 100%;
}

.path_draw {
  fill:none;
  stroke: black;
  stroke-width: 1rem;
  stroke-lineJoin: round;
  stroke-linecap: round;
}
